<h2>My Guitars</h2>

<ul>
    <% @guitars.each do |guitar| %>
        <li><a href='/guitars/<%= guitar.id %>'><%= guitar.year.to_s + " " + guitar.brand + " " + guitar.model%></a></li>
    <% end %>
<ul>